<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{{ page.title }}</title>
    {% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
    <meta name="author" content="{{ site.author.name }}">

    <!-- Bootstrap core CSS -->
    <link href="{{ ASSET_PATH }}/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ ASSET_PATH }}/styles.css" rel="stylesheet" type="text/css">
    <link href="{{ ASSET_PATH }}/sh/shThemeDefault.css" rel="stylesheet" type="text/css">
    <link href="{{ ASSET_PATH }}/sh/shCore.css" rel="stylesheet" type="text/css">

  </head>

  <body role=document>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="/index.html">{{ site.title }}</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="/pages/tasks">Zadania</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/pages/knowledge">Baza wiedzy</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/pages/team">Skład</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Page Content -->
    <div class="container">
      <div class="row">
        <div class="bs-docs-section">
          {{ content }}
        </div>
      </div>
    </div>

    <footer class="footer">
      <div class="container">
        <span class="text-muted">© 2017 Java FTW! All rights reserved.</span>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="{{ ASSET_PATH }}/jquery/jquery.min.js"></script>
    <script src="{{ ASSET_PATH }}/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="{{ ASSET_PATH }}/sh/shCore.js" type="text/javascript"></script>
    <script src="{{ ASSET_PATH }}/sh/shBrushJava.js" type="text/javascript"></script>
    <script src="{{ ASSET_PATH }}/sh/shBrushXml.js" type="text/javascript"></script>
    <script src="{{ ASSET_PATH }}/sh/shBrushBash.js" type="text/javascript"></script>
    <script src="{{ ASSET_PATH }}/sh/shBrushCss.js" type="text/javascript"></script>
    <script src="{{ ASSET_PATH }}/sh/shAutoloader.js" type="text/javascript"></script>

    <script language="javascript">
    SyntaxHighlighter.all();
    </script>

    {% include JB/analytics %}
  </body>

</html>
